### Fake News Detection

In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re            #to remove unecessary data
import string         #to remove unecessary data

In [25]:
df_fake = pd.read_csv("Fake.csv")   #so that pandas can read the file
df_true = pd.read_csv("True.csv")

In [26]:
df_fake.head(10)  #to check the first 10 data

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [27]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [28]:
df_fake["class"] = 0   #to give false value = 0 and true =1
df_true["class"] = 1

In [29]:
df_fake.shape, df_true.shape # data size

((23481, 5), (21417, 5))

In [30]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470, -1):
    df_fake.drop([i], axis=0, inplace=True) #drop=delete,axis=0: to remove the data row wise;
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21306, -1):
    df_true.drop([i], axis=0, inplace=True)

In [31]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis=0) #to merge both files as manual testing
df_manual_testing.to_csv("manual_testing.csv")

In [32]:
df_merge = pd.concat([df_fake, df_true], axis=0) #to merge true and fake news
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [33]:
df = df_merge.drop(["title", "subject", "date"], axis=1) # to remove title,sub and date; axis=1:to remove data column wise
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [34]:
df = df.sample(frac=1) # to shuffle the data

In [35]:
df.head(10)

                                                    text  class
13622  Obama doing what Obama does best putting radic...      0
15026  (Reuters) - China and Vietnam avoided conflict...      1
21616  The  Fundamental Transformation  of America is...      0
21541  Obama s ICE Director Sarah Saldana is not the ...      0
20424  GENEVA (Reuters) - The top U.N. human rights o...      1
3746   Trump mouthpiece Kayleigh McEnany just made th...      0
11941  In mid-October 2016, James O Keefe exposed man...      0
17221  MOGADISHU (Reuters) - Medics who rushed to hel...      1
11341  Very interesting There s truth to President Tr...      0
174    (Reuters) - Native American advocates launched...      1

In [36]:
df.isnull().sum()  #to check if any null values present

text     0
class    0
dtype: int64

In [45]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W","",text)
    text = re.sub('https?://\S+|www\.\S+','',text)
    text = re.sub('<.*?>+', '',text)
    text = re.sub('[%s]' %re.escape(string.punctuation), '',text)
    text = re.sub('\n', '',text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [46]:
df["text"] = df["text"].apply(word_drop)

In [47]:
df.head(10)

                                                    text  class
13622                                                         0
15026  reuterschinaandvietnamavoidedconflictovertheso...      1
21616                                                         0
21541                                                         0
20424                                                         1
3746   trumpmouthpiecekayleighmcenanyjustmadethemosta...      0
11941                                                         0
17221                                                         1
11341                                                         0
174                                                           1

In [48]:
x = df["text"]     #to define dependent and independent variables
y = df["class"]

In [61]:
x_train,x_test, y_train,y_test = train_test_split(x,y, test_size = .25)

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer  #vectorizing the text

In [63]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

##### Logistic Regression

In [69]:
from sklearn.linear_model import LogisticRegression

In [70]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [71]:
LR.score(xv_test, y_test)

0.5291648057168379

In [72]:
pred_LR = LR.predict(xv_test)

In [73]:
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5876
           1       1.00      0.01      0.02      5319

    accuracy                           0.53     11195
   macro avg       0.76      0.50      0.35     11195
weighted avg       0.75      0.53      0.37     11195

##### Decision Tree Classification

In [74]:
from sklearn.tree import DecisionTreeClassifier

In [75]:
DT = DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [76]:
DT.score(xv_test, y_test)

0.5291648057168379

In [77]:
pred_DT = DT.predict(xv_test)

In [78]:
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5876
           1       1.00      0.01      0.02      5319

    accuracy                           0.53     11195
   macro avg       0.76      0.50      0.35     11195
weighted avg       0.75      0.53      0.37     11195

##### Gradient Boosting Classifier

In [79]:
from sklearn.ensemble import GradientBoostingClassifier

In [80]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [81]:
pred_gbc = GBC.predict(xv_test)

In [82]:
GBC.score(xv_test, y_test)

0.5249665029030818

In [83]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       0.52      1.00      0.69      5876
           1       1.00      0.00      0.00      5319

    accuracy                           0.52     11195
   macro avg       0.76      0.50      0.34     11195
weighted avg       0.75      0.52      0.36     11195

##### Random Forest Classifier

In [92]:
from sklearn.ensemble import RandomForestClassifier

In [95]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [96]:
RFC.score(xv_test, y_test)

0.5291648057168379

In [97]:
pred_RFC = RFC.predict(xv_test)

In [99]:
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.53      1.00      0.69      5876
           1       1.00      0.01      0.02      5319

    accuracy                           0.53     11195
   macro avg       0.76      0.50      0.35     11195
weighted avg       0.75      0.53      0.37     11195

##### Manual Testing

In [102]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [103]:
news = str(input())
manual_testing(news)

Seven Iranians freed in the prisoner swap have not returned to Iran	21st Century Wire says This week, the historic international Iranian Nuclear Deal was punctuated by a two-way prisoner swap between Washington and Tehran, but it didn t end quite the way everyone expected. On the Iranian side, one of the U.S. citizens who was detained in Iran, Nosratollah Khosravi-Roodsari, has stayed in Iran, but on the U.S. side   all 7 of the Iranians held in U.S. prisons DID NOT show up to their flight to Geneva for the prisoner exchange   with at least 3 electing to stay in the U.S  TEHRAN SIDE: In Iran, 5 U.S. prisoners were released, with 4 of them making their way to Germany via Switzerland.Will Robinson Daily MailNone of the Iranians freed in the prisoner swap have returned home and could still be in the United States, it has been reported.The seven former inmates, who were released as part of a deal with the Islamic republic, did not show up to get a flight to Geneva, Switzerland, where the exchange was set to take place on Sunday.Three of the Iranians have decided to stay in the United States, ABC reported, with some moving in with their families. However it is not known where the other four are.Three of the Americans who had been detained in Iran   Washington Post journalist Jason Rezaian, former U.S. Marine Amir Hekmati and Christian pastor Saeed Abedini   left Tehran at around 7am the same day, but weren t met by their counterparts in Switzerland Continue this story at the Mail OnlineREAD MORE IRAN NEWS AT: 21st Century Wire Iran Files	Middle-east	20-Jan-16	0


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News